@charset "UTF-8";
/*重置样式*/
html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, figure,
img, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑";
}

ul, ol, li {
  list-style: none;
}

a, u {
  text-decoration: none;
}

i, em {
  font-style: normal;
}

b, strong {
  font-weight: 100;
}

img {
  border: 0;
  display: block;
}

input {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100;
}

.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*重置样式结束*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

#footer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  background: #f5f5f5;
  font-size: 12px !important;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  color: #666;
}
#footer p {
  word-spacing: 5px;
  padding: 10px 0;
}
#footer p a {
  color: #666;
}

.null-shopping {
  width: 480px;
  height: 240px;
  margin: 0 auto;
  text-align: center;
}
.null-shopping h4 {
  font-size: 22px;
  color: #333;
  padding-top: 50px;
}
.null-shopping p {
  margin-top: 20px;
}
.null-shopping .btn-mini:hover {
  background: #f0f0ff;
}
.null-shopping .btn-mini {
  color: #777;
  background: #f5f5f5;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  padding: 2px 10px;
  margin-right: 2px;
  border: 1px solid;
  border-color: #DCDCDC #dcdcdc #b3b3b3 #DCDCDC;
}

.buy-title {
  height: 50px;
  padding: 15px 0;
  border-top: 1px solid #F7F7F7;
}
.buy-title h3 {
  color: #555;
  font-size: 24px;
}
.buy-title h5 {
  color: #aaa;
  font-size: 12px;
}

.table-style {
  width: 100%;
  border-width: 2px 1px;
  border-color: #aaa #ddd;
  border-style: solid;
  border-collapse: collapse;
}
.table-style thead th {
  line-height: 20px;
  color: #666;
  background: #F9F9F9;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.table-style tbody th {
  line-height: 20px;
  font-size: 12px;
  padding: 8px;
  color: #333;
  background-color: #daf0fe;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.table-style tbody th strong {
  font-weight: 600;
}
.table-style tbody th strong a {
  color: #333;
}
.table-style tbody th div.store-sale {
  float: right;
}

.table-style tbody tr td {
  padding: 8px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-style tbody tr td.w60 a {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.table-style tbody tr td.w60 a img {
  width: 40px;
  height: 40px;
}

.w50 {
  width: 50px !important;
}

.w60 {
  width: 60px !important;
}

.w120 {
  width: 120px !important;
}

.w80 {
  width: 80px !important;
}

.t1 {
  text-align: left !important;
}

.shop-list td {
  background: #fffdee;
}

.substract-key {
  font: 14px/14px Arial;
  color: #777;
  background-color: #F5F5F5;
  text-align: center;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  border: solid 1px;
  border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
  cursor: pointer;
}

input.text, input.password {
  font: 12px/20px Tahoma;
  color: #777;
  background-color: #FFF;
  display: inline-block;
  height: 20px;
  padding: 2px 4px;
  border: solid 1px #CCC;
  outline: 0 none;
  width: 15px;
}

.table-style a {
  color: #333;
  font-size: 14px;
}

.table-style tfoot td {
  background: #F9F9F9;
  text-align: right;
  height: 30px;
  padding: 10px 0;
}
.table-style tfoot td .all-account {
  font-size: 16px;
  margin-right: 10px;
}
.table-style tfoot td .all-account em {
  font-size: 22px;
  color: #C81623;
  margin: 0 5px;
}

.null-shopping {
  display: none;
}

/*# sourceMappingURL=tollary.css.map */
